html {
    background-color: #c6d4e1;
}

.logo {
    float: left;
    background: #555;
}

h1 {
    position: relative;
    top: -70px;
    left: 110px
}

a {
    position: relative;
    font-size: 20px;
    left: 1000px;
    padding-right: 20px;
    top: -120px;
}
a:link { 
    text-decoration: none;
    color: #b95f00;
}

a:visited { 
    text-decoration: none; 
}

div img {
    margin-top: 50px;
}